:root {
    --grey200: #e9e9e9;
    --grey300: #5d5d5d;
    --grey400: #333333;

    --orange100: #e88c53;
    --orange200: #c3713b;
    --orange300: #4e3928;
}

html {
    background-color: rgb(227, 227, 227);
}

.mapspage {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contenido {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.contenido>.central {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
}

.imagen>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media(min-width:800px) {}

.info>.menu {
    background-color: var(--orange100);
    display: grid;
    grid-auto-columns: minmax(0px, 1fr);
    grid-auto-flow: column;
    width: 100%;
    border-radius: 8px;
    margin: 10px 0px;
    gap: 2px;
    grid-auto-rows: max-content;
    height: auto;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--orange200);
    color: white;
}

.tab:first-of-type {
    border-radius: 8px 0px 0px 8px;
}

.tab:last-of-type {
    border-radius: 0px 8px 8px 0px;
}

.tab:hover {
    background-color: var(--orange300);
}

.tab>p {
    font-size: 1rem;
    margin: 1vh 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info>.content {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.447);
}

.info>.content>.header {
    background-color: var(--orange200);
    border-radius: 8px 8px 0px 0px;
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info>.content>.header>p {
    font-size: 1rem;
    margin: 1vh 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.info>.content>.header>.star-ratings {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.info>.content>.body {
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info>.content>.body>button {
    background-color: var(--orange200);
    border: none;
    border-radius: 8px;
    width: min(100% - 15px, 840px);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}

.info>.content>.body>button:hover {
    background-color: var(--orange300);
}

.info>.content>.body>button>p {
    margin: 1vh 5px;
}

.comentario {
    width: min(100% - 15px, 840px);
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.comentario>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comentario>div>.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--orange200);
    border-radius: 8px 8px 0px 0px;
}

.comentario>div>.cabecera>.usuario {
    margin-left: 8px;
    font-size: 0.95rem;
    font-weight: bold;
    color: white;
}

.comentario>div>.cabecera>.fecha {
    margin-right: 8px;
    font-size: 0.8rem;
    color: var(--grey200);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentario>div>.cabecera p {
    margin: 1vh 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comentario>div>.contenido {
    color: black;
    display: flex;
    background-color: var(--grey200);
    border-radius: 0px 0px 8px 8px;
    padding: 0px 8px;
}

.mapa {
    border-radius: 8px;
    margin: 10px 8px;
}

.map {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
    z-index: 1;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}




.inputForm {
    width: 100%;
    border-radius: 8px;
    min-height: 38px;
    border: #ccc 1px solid;
}

.buscador>input {
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    border: var(--orange200) 2px solid;
}

.leaflet-container {
    width: 100%;
    height: 400px;
    margin-inline: auto;
    border-radius: 8px;
    border: var(--orange200) 2px solid;
}

.filtros {
    background-color: white;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.447);
}

.filtros>.header {
    background-color: var(--orange200);
    color: white;
    border-radius: 8px 8px 0px 0px;
}

.filtros>.header>p {
    font-size: 0.95rem;
    font-weight: bold;
    padding: 1vh 5px;
    margin: 0px;
}

.filtros>.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtros>.menu>div {
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtros>.menu>.slider {
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtros>.menu>.slider>div {
    margin: 0px 3px;
}

.css-7vij4e {
    width: auto !important;
    padding-top: 0px !important;
}



.filtros>.menu>button {
    background-color: var(--orange200);
    border-color: var(--orange200);
    margin: 0px 16px;
}

.filtros>.menu>button:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
}

.navigationmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: var(--orange200);
    padding: 5px 10px;
}

.inicioSesion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}




/* The Close Button */
.close {
    color: #fefefe;
    float: right;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--orange200);
    margin-bottom: 1rem;
}

.formAñadirLugar>label {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    display: block;
    z-index: 1100;

}

.formAñadirLugar>label>input {
    width: 100%;
    margin: 5px 0;
}


.enviar {
    color: #fefefe;
    float: right;
    font-weight: bold;
    background-color: var(--orange200);
}


.amigos {
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.447);
}

.amigos > .header {
    background-color: var(--orange200);
    color: white;
    border-radius: 8px 8px 0px 0px;
}

.amigos > .header > p {
    font-size: 0.95rem;
    font-weight: bold;
    padding: 1vh 5px;
    margin: 0px;
}

.amigos > .content {
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.amigo {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: #e9e9e9;
    border:2px solid var(--orange200);
    max-width: 135px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    margin-top: 8px;
    gap:8px;
}

.amigo > p {
    padding: 0;
    margin:auto;
    margin-left:8px
}

.amigo > button {
    border: none;
    border-radius: 50%;
    
    width: 22px;
    height: 22px;
    margin-right: 8px;
    box-shadow:inset 0 10px 15px rgba(255,255,255,.35), 
            inset 0 -10px 15px rgba(0,0,0,.05), 
            inset 10px 0 15px rgba(0,0,0,.05), 
            inset -10px 0 15px rgba(0,0,0,.05),
            0 5px 20px rgba(0,0,0,.1);
}

.amigo > button.red{
    background-color: rgb(174, 26, 26);
}

.amigo > button.green{
    background-color: rgb(26, 174, 43);
}