
:root{
    --grey200: #e9e9e9;
    --grey300: #5d5d5d;
    --grey400: #333333;

    --orange100:#e88c53;
    --orange200:#c3713b;
    --orange300:#4e3928;
}

html{
    background-color: rgb(227, 227, 227);
}

.mapspage{
    display: flex;
    flex-direction: column;
}

.contenido{
    display: flex;
    flex-direction: row;
}

.contenido > .central {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imagen > img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media(min-width:800px){}

.info > .menu{
    background-color: var(--orange100);
    display: grid;
    grid-auto-columns: minmax(0px,1fr);
    grid-auto-flow: column;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    margin: 10px 0px;
    gap:2px;
    grid-auto-rows: max-content;
    height: auto;
}

.tab{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--orange200);
    color:white;
}

.tab:first-of-type {
    border-radius: 8px 0px 0px 8px;
}

.tab:last-of-type {
    border-radius: 0px 8px 8px 0px;
}

.tab:hover{
    background-color: var(--orange300);
}

.tab > p {
    font-size: 1rem;
    margin: 1vh 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info > .content{
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.447);
}

.info > .content > .header{
    background-color:var(--orange200);
    border-radius: 8px 8px 0px 0px;
    padding: 0px 8px;
}

.info > .content > .header > p {
    font-size: 1rem;
    margin: 1vh 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.info > .content > .body{
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 8px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info > .content > .body > button{
    background-color: var(--orange200);
    border: none;
    border-radius: 8px;
    width: min(100% - 15px, 840px);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}

.info > .content > .body > button:hover{
    background-color: var(--orange300);
}

.info > .content > .body > button > p{
    margin: 1vh 5px;
}

.comentario{
    width: min(100% - 15px, 840px);
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.comentario > div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comentario > div > .cabecera {
    display: flex;
    flex-direction: row;
    background-color: var(--orange200);
    border-radius: 8px 8px 0px 0px;
}

.comentario > div > .cabecera > .usuario{  
    margin-left: 8px; 
    font-size: 0.95rem;
    font-weight: bold;
    color: white;
}

.comentario > div > .cabecera > .fecha{  
    margin-right: 8px; 
    font-size: 0.8rem;
    color: var(--grey200);
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.comentario > div > .cabecera p{
    margin: 1vh 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comentario > div > .contenido{
    color: black;
    display: flex;
    background-color: var(--grey200);
    border-radius: 0px 0px 8px 8px;
    padding: 0px 8px;
}

.mapa{
    border-radius: 8px;
}

.map{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
}

.leaflet-div-icon{
    background-color: transparent;
    border: none;
}

.buscador{
    width: calc(100% - 16px);
    margin: 10px 8px;
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 8px 8px;
}

.buscador > button {
    background-color: var(--orange200);
    border-radius: 0px 8px 8px 0px;
    border: 0px;
    color: white;
}

.buscador > input {
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    border: var(--orange200) 2px solid;
}

.leaflet-container{
    width: 100%;
    height: 280px;
    margin-inline: auto;
    border-radius:8px;
    border: var(--orange200) 2px solid;
}

.filtros > .menu {
    display:flex;
    flex-direction: column;
}

.filtros {
    background-color: white;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.447);
    margin: 10px 0px 10px 10px;
}

.filtros > .header {
    background-color: var(--orange200);
    color: white;
    border-radius: 8px 8px 0px 0px;
}

.filtros > .header > p {
    font-size: 0.95rem;
    font-weight: bold;
    padding: 1vh 5px;
    margin: 0px;
}

.left {
    display:flex;
    flex-direction: column;
}

.navigationmenu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: var(--orange200);
    padding: 5px 10px;
}

.inicioSesion{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
